{% extends 'base.html' %}

{% block content %}
<hr class="my-4">

    <div class="col-lg-12"><h3><b>Читая мы становимся умнее</b></h3>
<p3>Благодаря чтению книг мы приобретаем жизненный опыт, мысли и переживания других людей,
до которых, возможно, никогда бы не додумались сами. Мы узнаем что-то новое, пополняем словарный запас,
переживаем эмоции и чувства, которые переживали другие люди.</p3></div>

    <div class="col-lg"><p4>" Ученые давно выяснили, как сохранить ясность ума на протяжении всей жизни: надо «всего лишь»
	постоянно развивать свой мозг. Один из лучших способов делать это – регулярно и вдумчиво читать.
	У читающих людей выше шанс построить успешную карьеру,
	лучше взаимоотношения в семье, они моложе выглядят и дольше живут.C другой стороны,
	неправильно организованное чтение может нанести вред: страдают, как правило, зрение и осанка.
	Неудобства во время чтения также рассеивают внимание и мешают воспринимать текст глубоко.ередуйте стили:
	после деловой литературы приятно «полакомиться» художественной,
	в после психологии – почитать стихи. "</p4></div>

    <div class="col-lg-3"><p2> <span1>ДЖЕЙН ЭЙР</span1> <br> <br>
	<b> Жанр: </b>	роман <br>
	<b> Автор: </b>	Шарлотта Бронте <br>
	<b> Дата публикации: </b>	16 октября 1847
	Роман английской писательницы Шарлотты Бронте, выпущенный под псевдонимом
	«Каррер Белл». Второе переиздание романа Бронте посвятила писателю Уильяму Теккерею.Впервые роман был опубликован
	в 1847 году лондонским издательством Смит, Элдер и Ко (Smith, Elder & Company) под заглавием Jane Eyre: An Autobiography; имя автора было скрыто под псевдонимом Каррер Белл (Currer Bell). Сразу же после публикации книга заслужила любовь читателей и хорошие отзывы критиков,
	включая Уильяма Теккерея, которому Бронте посвятила второе издание.На данный момент известно о девяти переводах романа на русский язык,
	при этом первые пять были сделаны в XIX столетии, а из четырех относящихся к XX веку два выполнены в дореволюционную эпоху, остальные два — в советскую. Впервые роман вышел на русском языке под названием «Дженни Ир» через два года после оригинальной публикации, в апреле 1849 года, в журнале «Библиотека для чтения». Анонимный «перевод» представлял собой пересказ содержания.
    </p2></div>

    <div class="col-lg-12">
    <h3><b>ЧТО МЫ ВИДИМ, КОГДА ЧИТАЕМ?</b></h3>
<p3>А в самом деле, что? Явно не просто лист бумаги с чёрными значками.
Может быть, это фильм в нашей голове? Нет, степень детализации образов здесь не такая, как в кино. В то же время, всякий может сказать, как именно он представляет себе места, вещи и персонажей. Иначе не было бы возмущений по поводу «неудачного» подбора площадок и актёров для экранизаций любимых книг.
Попытаемся разобраться в том, что именно «показывает» человеческий разум во время чтения.</p3>
<h3><b>ЧТЕНИЕ РАСШИРЯЕТ КРУГОЗОР</b></h3>
<p3>Читая, мы познаем окружающий мир вокруг себя и расширяем границы. За нашу короткую жизнь мы не в состоянии познать и пережить все на собственном опыте.
Чтение книг — одно из величайших вещей, которое ускоряет процесс познания мира,
и дает возможность приобрести знания и умения всех предыдущих поколений живших до нас.<p3>
	</div>

 {% endblock %}